body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
}

/*Utils*/

.round {
  border-radius: 50%;
}



.red {
  color: #FF0014;
}

#intro {
  margin-bottom: 2em;
}
.head-block {
  margin: 0.8em 0 0.8em;
}
.head-block h3 {
  font-size: 1.3em;
}

.propic {
  padding: .7em;
}

.name {
  margin: 0.4em 0 0em;
  font-size: 2em;
}

#specialties {
  position: relative;
}

.cube-heading {
  margin: 1.4em 0 0.8em;
}

#work {
  padding: 2.5em 0 1.7em;
  background: #ECF3FF;
}

#work li {
  margin-bottom: 0;
  padding-bottom: 0;
}

.padded-heading {
  margin: 1em 0 .7em;
}

.work-grid {
  border-radius: 50%;
}

#technology {
  padding: 6em 0;
}

#technology .padded-heading {
  margin-top: .3em;
}

#network {
  background: #DBE7FF;
  padding: 2.5em 0 .5em;
}

#network li {
  text-align: center;
}

#network i {
  font-size: 4em;
}